.job-cateImg {
    background: linear-gradient(90deg, rgba(126, 144, 254, 0.1) 0%, rgba(152, 115, 255, 0.1) 100%);
    width: 70px;
    height: 70px;
}

.card-body h2 {
    color: #474747;
    font-weight: 700;
    font-size: 23px;
}

.card-body p {
    color: #A3A3A3;
}

.Singlecompany {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.jobcategory:hover {
    background-position: right center;
    background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);

}
@media (max-width: 767px) {
    .max-w-xl {
      margin: auto;
      text-align: center;
    }
    .banner-img {
      margin: auto;
    }
    .lg\:flex {
      display: block !important;
    }
  }
  